<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.wintech.archimath">

    <application
        android:allowBackup="true"
        android:fullBackupContent="@xml/backup_descriptor"
        android:icon="@drawable/image_3"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ArchiMath">
        <activity
            android:name=".MainActivity"
            android:theme="@style/Theme.MaterialComponents.DialogWhenLarge">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SecondActivity"
            android:theme="@style/Theme.MaterialComponents.DialogWhenLarge" />
        <activity
            android:name=".ButtonOne"
            android:label="@string/Button_1"
            android:theme="@style/Theme.MaterialComponents.DialogWhenLarge" />
        <activity
            android:name=".ButtonTwo"
            android:label="@string/Button_2"
            android:theme="@style/Theme.MaterialComponents.DialogWhenLarge" />
        <activity
            android:name=".ButtonThree"
            android:label="@string/Button_3"
            android:theme="@style/Theme.MaterialComponents.DialogWhenLarge" />
        <activity
            android:name=".ButtonFour"
            android:label="@string/label_quiz"
            android:theme="@style/Theme.MaterialComponents.DialogWhenLarge" />
        <activity
            android:name=".ButtonFive"
            android:label="@string/Button_5"
            android:theme="@style/Theme.MaterialComponents.DialogWhenLarge" />
        <activity android:name=".ActivityQuiz"
            android:label="@string/label_quiz"
            android:theme="@style/Theme.MaterialComponents.DialogWhenLarge"/>
        <activity android:name=".SecondQuiz"
            android:label="@string/label_quiz"
            android:theme="@style/Theme.MaterialComponents.DialogWhenLarge"/>
        <activity android:name=".ThirdQuiz"
            android:label="@string/label_quiz"
            android:theme="@style/Theme.MaterialComponents.DialogWhenLarge"/>
        <activity android:name=".FourthActivity"
            android:label="@string/label_quiz"
            android:theme="@style/Theme.MaterialComponents.DialogWhenLarge"/>
        <activity android:name=".FifthQuiz"
            android:label="@string/label_quiz"
            android:theme="@style/Theme.MaterialComponents.DialogWhenLarge"/>
        <activity android:name=".SixthQuiz"
            android:label="@string/label_quiz"
            android:theme="@style/Theme.MaterialComponents.DialogWhenLarge"/>
        <activity android:name=".BasicMath"
            android:label="@string/button3_component1"
            android:theme="@style/Theme.MaterialComponents.DialogWhenLarge"/>
        <activity android:name=".AdvancedMath"
            android:label="@string/component2"
            android:theme="@style/Theme.MaterialComponents.DialogWhenLarge"/>
        <activity android:name=".Grade8"
            android:label="@string/component3"
            android:theme="@style/Theme.MaterialComponents.DialogWhenLarge"/>
        <activity android:name=".Grade9"
            android:label="@string/component4"
            android:theme="@style/Theme.MaterialComponents.DialogWhenLarge"/>
        <activity android:name=".Grade10"
            android:label="@string/component5"
            android:theme="@style/Theme.MaterialComponents.DialogWhenLarge"/>
        <activity android:name=".Grade11"
            android:label="@string/component6"
            android:theme="@style/Theme.MaterialComponents.DialogWhenLarge"/>
        <activity android:name=".Grade12"
            android:label="@string/component7"
            android:theme="@style/Theme.MaterialComponents.DialogWhenLarge"/>
        <activity android:name=".TeachersGuide"
            android:label="@string/component8"
            android:theme="@style/Theme.MaterialComponents.DialogWhenLarge"/>
    </application>

</manifest>